@font-face {
    font-family: 'ProximaNovaSoftW03-Regular';
    src: url('./fonts/Proxima-Nova-Soft-W03-Regular.ttf'),
}
@font-face {
    font-family: 'ProximaNovaSoftW03-Semibold';
    src: url('./fonts/Proxima-Nova-Soft-W03-Semibold.ttf'),
}
@font-face {
    font-family: 'ProximaNovaSoftW03-Bold';
    src: url('./fonts/Proxima-Nova-Soft-W03-Bold.ttf'),
}
